<a href="https://colab.research.google.com/github/SadeemAlasiri/Practice/blob/main/test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is test for math

In [ ]:
#print True or False
a=100
c=90
if c<a:
  print("a is greater than c ,true")
else:
   print("a is less than c ,False")


    #Find the result for the bayment : sadeem bay orang and bnana where orang is x and bnana is y
x=5
y=100
z="SAR"
print( x + y,z)
print(type(z))

#print list of name
thislist = ["Sara","Ahmad","Asma","Bnder"]
print(thislist)
print(len(thislist))#print the lenth of the names list
print("This is for loop from 1 to 10")
#For loop for range
for x in range(1,11):
  print(x)

a is greater than c ,true
105 SAR
<class 'str'>
['Sara', 'Ahmad', 'Asma', 'Bnder']
4
This is for loop from 1 to 10
1
2
3
4
5
6
7
8
9
10